/* -------------------------------------- *
General Styles
* --------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=UnifrakturMaguntia&display=swap');

body {
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
  font-weight: bold;
  
}

header {
  background-image: url("../images/banners/fog.jpg");
  background-size: cover;
  background-position: center center;
  height: 100px;
}

h1,
h2,
h3 {
  font-size: 72px;
  font-family: 'UnifrakturMaguntia', sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
  color:darkgreen;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: gold;
  padding: 12px;
}

.inspiro-img {
  width:400px;
  padding-top: 100px;
}